.foto{
	width: 80%;
	height: 25%;
	padding-left: 20%;
	padding-bottom: 2%;
}
.foto img{
	width: 100%;
}
.mapa{
	width: 65%;
	padding-top: 2%;
	float: left;
	margin-right: 2%;
}
.mapa iframe{
	width: 100%;
}
.decripcion{
	width: 30%;
	text-align: center;
	align-self: center;
	float: left;
}
.container{
	width: 75%;
}

.Acciones{
	width: 100%;
}

.A_button_C{
	width: 25%;
	padding-left: 20px;
	padding-top: 4px;
}
.Acciones button{
	width: 90%;
	background-color: rgb(50,174,216);
	border-color: rgb(50,174,216);
	color: white;
}
.Acciones input{
	width: 90%;
	background-color: rgb(50,174,216);
	border-color: rgb(50,174,216);
	color: white;
}
.A_button_P{
	width: 25%;
	padding-top: 4px;
	padding-left: 2%;
}

.A_status{
	width: 25%;
	padding-left: 3%;
	padding-top: 4px;
	background-color: white;
}
