.slider{
	width: 100%;
}
.wrapper{width: 100%;
	margin: auto;
	overflow: hidden;
	padding: 0;}

.Data{
	width: 75%;
	background-color: white;
}

.imagen{
	width: 30%;
}
.imagen img{
	width: 100%;
}
.texto{
	padding-left: 15px;
	width: 60%;
}
