.topbar1{
	width: 100%;
}
.Logo {width: 80%;
	padding-left: 2%;
	background-color: rgb(16,71,107);}

.Telefonos {width: 20%;
	align-content: center;
background-color: rgb(16,71,107);}

.menu_bar {width: 100%;
	padding-bottom: 1%;
	background-image: url("../../includes/img/menu_superior.png");
	background-size: 550px;
	background-repeat: no-repeat;
	height: auto;
}

.menu_bar2 {width: 22%;
	float: right;
	padding-top: 9px;
}
.menu_bar img{
	width: 12px;
	height: 12px;
	margin-bottom: 3px;
	padding-left: 3px;
}

.container {width: 75%;
background-color: white;}

.side_bar{
	width: 25%;
}
.Busqueda1{
	width: 100%;
	background-color: rgb(61,100,146);
	padding-right: 1%;
	padding-left: 10%;
	padding-top: 
}
.Busqueda1 select,input{
	width: 90%;
	color: rgb(84,146,177);
	background-color: rgb(16,71,107);
	border-color: rgb(16,71,107);
}
.Busqueda1 label{
	color: white;
}

.menu_bar3{width: 100%;
	background-image: url("../../includes/img/background_full.png");
	height: 19%;
	padding-top: 10px;
	padding-bottom: 10px;
	align-content: center;
}
.menu_bar3 img{
	padding-left: 10px;
}

.downmenu_bar {width: 75%;
background-color: rgb(16,71,107);
padding-left: 10px;
padding-top: 10px;}

.space{
	width: 100%;
	background-color: rgb(16,71,107);
}

.img_header{
	width: 100%;
}
.img_header img {
	width: 100%;
}

.Middle_content{
	width: 100%;
	text-align: justify-all;
	margin-left: 5%;
	margin-right: 5%;
}

.footer{
	width: 100%;
	text-align: center;
}
.Logo img{
	width: 400px;
}

.downmenu_bar p{
	color: gray;
	padding-top: 2px;
}
.downmenu_bar img{
	width: 30px;
}

.colash{
	width: 25%;
}

.texto{
	width: 75%;
}

.Telefonos img{
	width: 190px;
	padding-top: 10px;
	float: right;
	padding-right: 10px;
}
.m_button button{
	width: 110px;
	float: left;
	padding-top: 9px;
	background-color: transparent;
    border: none !important;
    color:transparent;
}

a {
	padding-left: 2px;
	color: white;
}

hr {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  border-color:black;
  border-width: 7px;
}
h6{
	color: rgb(16,71,107);
}