
.img_header{
	width: 100%;
}
.img_header img {
	width: 100%;
}

.Middle_content{
	width: 100%;
	text-align: justify-all;
	margin-left: 5%;
	margin-right: 5%;
}

.colash{
	width: 25%;
}

.texto{
	width: 75%;
}
