.title{
  width: 100%;
  float: left;
}
.complementary_i{
  width: 20%;
}
.complementary_t{
  width: 80%;
  padding-right: 15px;
}
.complementary_ilong{
  width: 80%;
  padding-left: 150px;
  padding-bottom: 20px;
}
.complementary_tlong{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.container video{
  width: 100%;
}
