.topbar1{
	width: 100%;
}
.Logo {width: 80%;
	padding-left: 2%;
	background-color: rgb(16,71,107);}

.Telefonos {width: 20%;
	align-content: center;
background-color: rgb(16,71,107);}

.menu_bar {width: 100%;
	background-color: rgb(16,71,107);
	padding-bottom: 1%;
	background-image: url("../../includes/img/menu_superior.png");
	background-size: 550px;
	background-repeat: no-repeat;
	height: auto;}

.menu_bar2 {width: 22%;
	float: right;
	padding-top: 9px;
}
.menu_bar img{
	width: 12px;
	height: 12px;
	margin-bottom: 3px;
	padding-left: 3px;
}

.container {width: 75%;
background-color: white;}

.space{
	width: 100%;
	background-color: rgb(16,71,107);
}

.side_bar{
	width: 25%;
	background-color: rgb(61,100,146);
}

.footer{
	width: 100%;
	text-align: center;
}

.Busqueda1{
	background-color: rgb(61,100,146);
	width: 100%;
	padding-right: 1%;
	padding-left: 10%;
	padding-top: 10%;
}
.De{
	padding-left: 15px;
	float: left;
	align-content: center;
	width: 45%;
}

.A{
	float: right;
	width: 45%;
}
.lupa{
	width: 20%;
}
.encuentra_tu_casa{
	width: 80%;
}
.Busqueda1 select,input{
	width: 90%;
	color: rgb(84,146,177);
	background-color: rgb(16,71,107);
	border-color: rgb(16,71,107);
	font-family: sans-serif;
	font-size: 14px;
}
.Busqueda1 label{
	color: white;
	font-family: sans-serif;
	font-size: 12px;
}
.menu_bar3{width: 100%;
	background-image: url("../../includes/img/background_full.png");
  background-size: cover;
	padding-left: 5%;
	height: 185px;
	padding-top: 4%;
}
.menu3{
  width: 90%;
  height: 100%;
	padding-left: 1px;
	background-image: url("../../includes/img/menu_derecho.png");
	background-repeat: no-repeat;
}
.menu3 button{
	width: 230px;
	height: 21px;
	margin-top: 1px;
  border: none !important;
	background-color: transparent;
  color:transparent;
}

.buton_busqueda{
	padding-top: 15px;
	padding-left: 25%;
	width: 75%;
	align-content: center;
	height: auto;
}
.buton_busqueda input{
	background-color: rgb(50,174,216);
	border-color: rgb(50,174,216);
	color: white;
}
.Logo img{
	width: 400px;
}
.downmenu_bar p{
	color: gray;
	padding-top: 2px;
}
.downmenu_bar img{
	width: 30px;
}

.Telefonos img{
	width: 190px;
	padding-top: 10px;
	float: right;
	padding-right: 10px;
}
.m_button button{
	width: 110px;
	float: left;
	padding-top: 9px;
	background-color: transparent;
    border: none !important;
    color:transparent;
}
.downmenu_bar {width: 75%;
background-color: rgb(16,71,107);
padding-left: 40px;
padding-top: 10px;}

.downmenu_bar p{
	color: rgb(186,186,182);
	padding-top: 2px;
	padding-right: 160px;
	float: right;
}
.downmenu_bar img{
	width: 30px;
	float: left;
}

.downmenu_bar2 {width: 25%;
	background-color: rgb(16,71,107);
	text-align: right;
	color: rgb(186,186,182);
	padding-right: 10px;
	padding-top: 10px;
	align-content: center;
	font-size: 12px;}

.side_info{
	background-color: rgb(61,100,146);
	width: 100%;
	padding-right: 1%;
	padding-left: 10%;
	padding-top: 50%;
}
.info{
	width: 90%;
	font-size: 12px;
	color: white;
}
.info_title{
	width: 90%;
	text-align: center;
	font-size: 14px;
	color: white;
}
.info a{
	color: yellow;
}
.info_title hr{
	border-color: white;
	width: 80%;
	border-width: 2px;
	padding-right: 10%;
}
.numbers{
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 30px;
}

body{
	background-color: rgb(16,71,107);
}
h2,h3,h4,h5,h6{
	color: rgb(16,71,107);
}
a {
	padding-left: 2px;
	color: white;
}

hr {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  border-color:black;
  border-width: 7px;
}
