.Logo {width: 75%;
	background-color: lightblue}
.Telefonos {width: 25%;
	background-color: lightgreen}
.menu_bar {width: 75%;
	background-color: blue}
.menu_bar2 {width: 25%;
	background-color: green}
.container {width: 75%;
	background-color: red}
.side_container {width: 25%;
	background-color: orange}
.downmenu_bar {width: 75%;
	background-color: pink}