<!DOCTYPE html>
<html lang="es">
<head>
	<title>Slider Test</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>

	<div class="slider">
		<ul>
			<li><img src="../includes/img/house0.jpg"></li>
			<li><img src="../includes/img/house1.jpg"></li>
			<li><img src="../includes/img/house2.jpg"></li>
			<li><img src="../includes/img/house3.jpg"></li>
			<li><img src="../includes/img/house4.jpg"></li>
			<li><img src="../includes/img/house5.jpg"></li>
		</ul>
	</div>

</body>
</html>